<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">  
    <menu>
        <add id="Custom_Snaptec::customsnaptec" 
            title="Snaptec" 
            module="Custom_Snaptec" 
            sortOrder="51" 
            resource="Custom_Snaptec::customsnaptec"/>

        <add id="Custom_Snaptec::brands" 
            title="Snaptec Brands" 
            module="Custom_Snaptec" 
            sortOrder="10" 
            action="customsnaptec/brand" 
            resource="Custom_Snaptec::brands" 
            parent="Custom_Snaptec::customsnaptec"/>
    </menu>
</config>